@charset "UTF-8";
/* CSS Document */

body {
	background-color: darkorange;
	background-image: url("pattern.png");
}


section {
	background-color: crimson;
	width: 60%;
	margin: auto;
	height: 600px;
}